<div class="app-container">
  <div class="calendar-container">
    <hijri-gregorian-datepicker
      [canChangeMode]="false"
      [todaysDateSection]="true"
      [futureValidation]="true"
      [disableYearPicker]="false"
      [disableMonthPicker]="false"
      [disableDayPicker]="false"
      [multiple]="true"
      [isRequired]="false"
      [showConfirmButton]="true"
      [markToday]="true"
      [mode]="mode"
      [dir]="'ltr'"
      [locale]="'en'"
      [submitTextButton]="'Confirm'"
      [todaysDateText]="'Today\'s Date'"
      [ummAlQuraDateText]="'التاريخ الهجرى'"
      [yearSelectLabel]="'Year'"
      [monthSelectLabel]="'Month'"
      [futureValidationMessageEn]="'Selected date cannot be in the future!'"
      [futureValidationMessageAr]="
        'التاريخ المحدد لا يمكن ان يكون في المستقبل!'
      "
      [pastYearsLimit]="115"
      [futureYearsLimit]="5"
      [styles]="stylesConfig"
      (onSubmit)="onSubmit($event)"
      (onDaySelect)="onChange($event)"
      (onMonthChange)="onMonthChangeTest($event)"
      (onYearChange)="onYearChangeTest($event)"
    ></hijri-gregorian-datepicker>
  </div>

  <button (click)="toggleMode()" id="toggle-btn">Toggle Mode</button>
  <div class="event-container">
    <p *ngIf="(selectedDate | json) != '{}'">
      {{ selectedDate | json }}
    </p>
  </div>
</div>
