<div class="app-container">
  <!-- <button
    type="button"
    class="open-datepicker"
    (click)="onOpenCalendarClicked()"
  >
    Toggle Calendar
  </button> -->
  <div class="calendar-container">
    <hijri-gregorian-datepicker
      [hidden]="toggle"
      [canChangeMode]="true"
      [todaysDateSection]="true"
      [futureValidation]="true"
      [disableYearPicker]="false"
      [disableMonthPicker]="false"
      [disableDayPicker]="false"
      [multiple]="false"
      [isRequired]="false"
      [showConfirmButton]="true"
      [mode]="'hijri'"
      [dir]="'ltr'"
      [locale]="'en'"
      [submitTextButton]="'Confirm'"
      [todaysDateText]="'Todays\'s Date'"
      [hijriDateText]="'Hijri Date'"
      [pastYearsLimit]="127"
      [futureYearsLimit]="0"
      [styles]="stylesConfig"
      (onSubmit)="onSubmitTest($event)"
      (onDaySelect)="onChangeTest($event)"
      (onMonthChange)="onMonthChangeTest($event)"
      (onYearChange)="onYearChangeTest($event)"
    ></hijri-gregorian-datepicker>
  </div>
  <div class="event-container">
    <p *ngIf="(selectedDate | json) != '{}'">
      {{ selectedDate | json }}
    </p>
    <p *ngIf="selectedDates.length">
      {{ selectedDates | json }}
    </p>
  </div>
</div>
